/* You can add global styles to this file, and also import other style files */

@import 'reset-css/reset.css';
@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.min.css';
@import './general-theme.scss';

html, body, app-root {
  width: 100%;
  height: 100%;
  display: block;
}